@model EntregaSprint3.Models.Cidade

@{
    ViewData["Title"] = "Delete";
}
<link rel="stylesheet" href="~/css/pais.css" />
<button class="button">
    Excluir Cidade
</button>
<br />
<span>Você tem certeza que deseja excluir isto?</span>
<br>
<br>
<table class="table">
    <thead>
    <tr class="row">
        <th class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CidadeNome)
        </th>
        <th class = "col-sm-10">
            @Html.DisplayFor(model => model.CidadeNome)
        </th>
        <th class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado.EstadoNome)
        </th>
    </tr>
    </thead>
    </table>
<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Excluir" class="btn btn-danger" />
    <button>
        <a class="adicionarp" asp-action="Index">Voltar</a>
    </button>
</form>
