@model EntregaSprint3.Models.Estado

@{
    ViewData["Title"] = "Details";
}
<link rel="stylesheet" href="~/css/pais.css" />

<button class="button">
    Detalhes
</button>
<br>
<br>
<table class="table">
    <thead>
    <tr class="row">
        <th class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoNome)
        </th>
        <th class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoNome)
        </th>
        <th class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pais)
        </th>
        <th class = "col-sm-10">
            @Html.DisplayFor(model => model.Pais.PaisNome)
        </th>
    </tr>
    </thead>
</table>
<div>
    <button class="buttonazul">
        <a class="adicionarp" asp-action="Edit" asp-route-id="@Model?.Id">Editar Estado</a>
    </button>
    <button>
        <a class="adicionarp" asp-action="Index">Voltar</a>
    </button>
</div>
