@model EntregaSprint3.Models.Usuario

@{
    ViewData["Title"] = "Create";
}
<link rel="stylesheet" href="~/css/pais.css" />

<button class="button">
    Adicionar Usuário
</button>
<br>
<br>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NomeUsuario" class="control-label"></label>
                <input asp-for="NomeUsuario" class="form-control" />
                <span asp-validation-for="NomeUsuario" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <label asp-for="EmailUsuario" class="control-label"></label>
                <input asp-for="EmailUsuario" class="form-control" />
                <span asp-validation-for="EmailUsuario" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <label asp-for="SenhaUsuario" class="control-label"></label>
                <input asp-for="SenhaUsuario" class="form-control" />
                <span asp-validation-for="SenhaUsuario" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <input type="submit" value="Criar Usuário" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div><br />

<div>
    <button>
        <a class="adicionarp" asp-action="Index">Voltar</a>
    </button>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
